.detailContainer {
    position: relative;
    max-width: 50%;
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #b6cdbd90;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 5px 5px 15px 0px rgb(64, 255, 58);
    margin-top: 50px;
}

.detailTitle {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 600;
    color: rgb(64, 255, 58);
    border-radius: 25px;
    background-color: rgb(15, 115, 197);
    box-shadow: 5px 5px 15px 0px rgb(64, 255, 58);
    padding: 15px;
}

.detailBarra {
    color: #fff;
}

.detailButton {
    position: absolute;
    top: 10px;
    right: -70px;
    border: 0px;
    border-radius: 20px;
    background-color: rgb(15, 115, 197);
    color: rgb(64, 255, 58);
    font-size: 1.5rem;
    margin: 0px 100px;
    transition: 0.25s ease;
    padding: 10px;
    box-shadow: 5px 5px 15px 0px rgb(64, 255, 58);
    cursor: pointer;
}

.detailButton:active:hover {
    transform: scale(0.9);
    background-color: rgb(64, 255, 58);
    color: rgb(17, 194, 194);
    box-shadow: 5px 5px 15px 0px rgb(15, 115, 197);
}

.detailInfo {
    background-color: #00000090;
    border-radius: 25px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.detailSection {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 20px 0px;
}

.DetailSectionInfo {
    align-items: center;
}

.DetailSectionInfo h4 {
    text-align: center;
    font-size: 35px;
    color: rgb(64, 255, 58);
    text-shadow: 4px 4px 4px rgb(15, 115, 197);
}

@media (max-width:450px) {
    .detailContainer {
        max-width: 90%;
    }

    .detailTitle {
        font-size: 30px;
    }

    .detailTitle {
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        font-weight: 600;
        color: rgb(64, 255, 58);
        border-radius: 25px;
        background-color: rgb(15, 115, 197);
        box-shadow: 5px 5px 15px 0px rgb(64, 255, 58);
        padding: 15px;
        margin-top: 62px;
        margin-bottom: 30px;
    }

    .detailButton {
        position: absolute;
        top: 8px;
        right: -97px;
        border: 0px;
        border-radius: 20px;
        background-color: rgb(15, 115, 197);
        color: rgb(64, 255, 58);
        font-size: 1.2rem;
        margin: 0px 100px;
        transition: 0.25s ease;
        padding: 10px;
        box-shadow: 5px 5px 15px 0px rgb(64, 255, 58);
        cursor: pointer;
    }

    .detailInfo {
        background-color: #00000090;
        border-radius: 25px;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;
    }

    .detailSection {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        margin: 20px 0px;
    }

    .DetailSectionInfo h4 {
        text-align: center;
        font-size: 1.8rem;
        color: rgb(64, 255, 58);
        text-shadow: 4px 4px 4px rgb(15, 115, 197);
    }

    .detailImg {
        width: 80%;
        margin: auto;
        margin-top: 10px;
    }
}